sentence-transformers==2.1.0
transformers==4.16.0
Pillow==9.3.0
onnx==1.10.2
onnxruntime==1.10.0
torch==1.10.2
numpy==1.22.0
tqdm==4.64.0
awscli==1.22.19
awscli_plugin_endpoint==0.4
pymilvus==2.0.2
pyspark==3.2.1

