/build/
/built/
/python/metaspore.egg-info/
/python/build
/tutorials/data
/.vscode
/target
/cpp/tests/data/MNIST/raw/t10k-images-idx3-ubyte
/cpp/tests/data/MNIST/raw/t10k-labels-idx1-ubyte
/cpp/tests/data/MNIST/raw/train-images-idx3-ubyte
/cpp/tests/data/MNIST/raw/train-labels-idx1-ubyte
/java/.idea
.ipynb_checkpoints/
__pycache__
python.zip
*.egg-info/
/wheelhouse/
*.iml
/java/recommend-service/.idea/
.venv
tutorials/output
